.header {
    display: flex;
    background-color: #730071 ;
    width: 100%;
    height: 75px;
    box-shadow: 0 0 8px rgba(0,0,0,0.7);
    display: flex;
    align-items: center;  
    gap: 20px;
}

.header_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px green solid;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
}

.header_right {
    display: flex;
    flex-direction: row;
    border: 2px yellow solid;
}

.header_left {
    display: flex;
    flex-direction: row;
    border: 2px yellow solid;
}

.header_logo_text {
    font-family: 'Style Script', cursive;
    color: white;
    font-size: 36px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 20px;
}
  
ul {
    /* this removes the dot on our links and use the padding to delete the space left empty by the removal of the dot */
    list-style-type: none;
    padding-left: 0px;
}
  
li {
    display: inline-flex;
}